<app-password-input (validate)="validatePasswordStrength($event)" />

<div
  [ngClass]="{
    idle: passwordStrength === passwordStrengthEnum.IDLE,
    bad: passwordStrength === passwordStrengthEnum.BAD,
    easy: passwordStrength === passwordStrengthEnum.EASY,
    medium: passwordStrength === passwordStrengthEnum.MEDIUM,
    strong: passwordStrength === passwordStrengthEnum.STRONG
  }"
>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>

<router-outlet></router-outlet>
